body{
    background-image:linear-gradient( to bottom,rgb(212, 212, 25),red);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#collisionCanvas{
    opacity: 0;
    /* 把填充乌鸦的色块清除不显示 */
}